*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header i {
    right: 6px;
    bottom: 6px;
}

.box-shadow {
box-shadow: 0px 3px 9px 0px black;
}

.bg-beige {
    background: #F5F0DA;
}

.w-90 {
    width: 90%;
}
.logo {
    width: 150px;
}

.navbar a {
    margin-right: 35px;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.fond {
    background :url(./assets/bandeau.jpg-min.jpg) no-repeat center/cover;
    height: 75vh;
    box-shadow: inset 0px 3px 9px 0px black;
}

.bg-blue {
    background-color: #005F71!important;
}

.border-radius-0 {
    border-radius:0% !important;
}
.reseaux img{
    width: 50px;
}

ul{
    list-style-type: none;
}

.border-gold {
    border: 4px solid #B7922B !important; 
}

.btn {
    right: 5px;
    bottom: 5px;
}

.h-65 {
    height: 100% !important;
}

.logo-sociaux {
    height: 50px;
}
